<!DOCTYPE html>

<head>
    <title>功能表</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" Content="机器人功能指令说明">
    <link rel="stylesheet" href="https://cdn.bootcdn.net/ajax/libs/github-markdown-css/3.0.1/github-markdown.min.css">
    <style>
        .markdown-body {
            box-sizing: border-box;
            min-width: 200px;
            max-width: 980px;
            margin: 0 auto;
            padding: 45px;
        }

        @media (max-width: 767px) {
            .markdown-body {
                padding: 15px;
            }
        }

        .footnote {
            color: red;
        }
    </style>
</head>

<body class="markdown-body">
    <h1>功能列表</h1>
    <p>此页指令不需要at机器人</p>
    <p>(权)标记表示功能需要权限 </p>
    <p>(自动)标记表示无需触发词，机器人主动推送 </p>
    <p>方括号表示参数可以省略</p>
    <h2>系统类</h2>
    <table>
        <thead>
            <tr>
                <th>关键词</th>
                <th>说明</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>登录</td>
                <td>登录进入Web模式</td>
            </tr>
            <tr>
                <td>重置密码</td>
                <td>随机生成一个新密码（不发链接）</td>
            </tr>
            <tr>
                <td>更新</td>
                <td>(权)更新机器人</td>
            </tr>
            <tr>
                <td>重启</td>
                <td>(权)重新启动机器人</td>
            </tr>
            <tr>
                <td>退出此群</td>
                <td>(权:管理员)命令机器人退出当前群聊<sup class="footnote">1</sup></td>
            </tr>
            <tr>
                <td>version</td>
                <td>查看机器人版本</td>
            </tr>
            <tr>
                <td>帮助</td>
                <td>查看帮助</td>
            </tr>
        </tbody>
    </table>
    <p>
        <sup class="footnote">1</sup>当管理员希望机器人离开群聊时，应该使用此条命令而不是直接踢出群聊，避免增加封号风险
    </p>
    <h2>公会战类</h2>
    <p>我们有更好的~</p>
    <h2>查询类</h2>
    <table>
        <thead>
            <tr>
                <th>关键词</th>
                <th>说明</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>jjc查询 +5个角色名空格分隔</td>
                <td>查找jjc解法，指定区服可改用“jjc国服/jjc台服/jjc日服”</td>
            </tr>
            <tr>
                <td>(自动：新闻推送)</td>
                <td>推送最新的新闻</td>
            </tr>
            <tr>
                <td>日程(今日/明日/x月x日)(可自动)</td>
                <td>查看活动日程</td>
            </tr>
            <tr>
                <td>日程表</td>
                <td>查看一周日程</td>
            </tr>
            <tr>
                <td>挖矿计算 +当前名次</td>
                <td>计算剩余可获得的奖励钻石</td>
            </tr>
        </tbody>
    </table>
    <h2>娱乐类</h2>
    <table>
        <thead>
            <tr>
                <th>关键词</th>
                <th>说明</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>十连</td>
                <td></td>
            </tr>
            <tr>
                <td>仓库[@某人[@某人[…]]]</td>
                <td>查看抽到过的所有角色查看他人抽到过的角色</td>
            </tr>
            <tr>
                <td>在线十连</td>
                <td>在线抽卡，不扰民</td>
            </tr>
            <tr>
                <td>人偶</td>
                <td>(权:主人)人偶功能</td>
            </tr>
        </tbody>
    </table>
</body>

</html>